@import "tailwindcss";
@theme{
      --color-primary:#734BDF;
      --color-grey:#F6F6F7;
  --font-onest:"Onest", sans-serif;

}

@utility container {
  @apply max-w-[1170px] mx-auto;
}
@utility commonBtn{
    @apply px-3.75 py-3.75 bg-primary rounded-full font-onest text-white font-bold text-[16px]
}
@utility body{
    @apply font-onest
}
.oma{
    background:url(../images/Background.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}
.bg{
    
    background:url(../images/Background\ \(2\).png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}